{{! This file tests for Handlebars partial }}

{{>html_header}}
  <body>
    {{>header}}

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">{{title}}</h1>
        <p class="lead blog-description">{{description}}</p>
      </div>
    </div><!-- container -->

    {{>footer}}
    {{>html_footer}}
