{{! This file tests for 2 expressions within the attribute value }}    

<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="{{classname}} {{index_active}}" href="/">Home</a>
          <a class="blog-nav-item {{safejstemplating_active1}}" href="/safejstemplating">Getting Started</a>
          <a class=blog-nav-item {{safejstemplating_active2}} href="/safejstemplating">Getting Started</a>
        </nav>
      </div>
    </div>
